# Sleeper API
SLEEPER_LEAGUE_ID=1311316930342195200
SLEEPER_USERNAME=ksanusi17

# Infisical (optional - for production secrets management)
INFISICAL_CLIENT_ID=
INFISICAL_CLIENT_SECRET=
INFISICAL_PROJECT_ID=
INFISICAL_ENV=dev

# App
DEBUG=false
